@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contact Us";
}
<h1>
    @ViewData["Title"]
    <h1 class="display-2"></h1>
</h1>

<h1 class="text-info">
    <h1 class="display-4"></h1>
    <p>
        +549114909234
        Alferez Hipólito Bouchard 4169/4191, 7° Piso, Munro.
        GBA . CP: B1605BNA.
        Buenos Aires, Argentina.
        www.edenred.com.ar
    </p>
</h1>
<div class="text-center">
    <h1 class="display-2"></h1>
    <h1 class="display-2"></h1>
    <h1 class="display-2"></h1>
    <img src=/images/edenred.jpg alt="Edenred Argentina" style="width:300px;height:100px;>
</div>